<!--<div id="top">
	<h1>Contact info</h1>
</div>-->

<div id="contactinfo">

		<div><img src="/static/img/mobile.png" alt='/static/img/mobile.png'><p>972-750-0578</p></div>
		
		<div><img src="/static/img/email.png" alt='/static/img/email.png'><p>singh.hardit@gmail.com</p></div>
		<div><img src="/static/img/linkedin.png" alt='/static/img/linkedin.png'><p><a href="https://www.linkedin.com/in/harditsingh" target="_blank" >https://www.linkedin.com/in/harditsingh</a></p></div>
		<div><img src="/static/img/git.png" alt='/static/img/git.png'><p><a href="https://github.com/codedeshi" target="_blank" >Github</a></p></div>
	</ul>
</div>

