
<div id="fullpage">	

	<div class="section" id='pageOne'>
		<h2>Why I want to develop</h2>
		<p>I am good at figuring things out and learning new things. I enjoy doing things that are intellectually stimulating and allow me to be creative. I want to be a developer because I think software development will help me align myself with the things I enjoy doing and thus have an overall happier life. </p>
		<a id = 'toPageTwo' ng-click="gotoAnchor('pageTwo')" href=""><img class='logo' src="/static/img/down.png" alt="/static/img/down.png" ></a>
	</div>
					


	<div class="section" id ='pageTwo'>
		<a id = 'toPageOne' ng-click="gotoAnchor('pageOne')" href=""><img class='logo' src="/static/img/up.png" alt="/static/img/up.png" ></a>

			<h2>Technologies I am Familiar with</h2><!--
		--><div class="mains">	
				<h3>Programing</h3>
				<ul class="subList">
					<li><p>Python</p></li>
					<li><p>JavaScript</p></li>
					<li><p>Ruby</p></li>
				</ul>
				</div><!--
		--><div class="mains">	
				<h3>MVC Frameworks and Libraries </h3>
					<ul class="subList">
						<li><p>Flask, Pandas, Scikit learn</p></li>
						<li><p>JQuery, NodeJS, Angular</p></li>
						<li><p>Rails</p></li>
					</ul>			
			</div><!--
		--><div class="mains">	
				<h3>Database</h3>
				<ul class="subList">
					<li><p>MySQL</p></li>
					<li><p>MongoDB</p></li>
					<li></li>
				</ul>
			</div><!--
		--><div class="mains">	
				<h3>Others</h3> 
				<ul class="subList">
					<li><p>Linux bash</p></li>
					<li><p>Github</p></li>
					<li><p>HTML & CSS</p></li>
				</ul>
			</div><!--
-->		<a id = 'toPageThree' ng-click="gotoAnchor('pageThree')" href=""><img class='logo' src="/static/img/down.png" alt="/static/img/down.png" ></a>
		</div>

	<div class = 'section' id='pageThree'>
			<a id = 'toPageTwoUp' ng-click="gotoAnchor('pageTwo')" href=""><img class='logo' src="/static/img/up.png" alt="/static/img/up.png" ></a>
			<h2>Education</h2>
				<ul>
					<h3>14 week intensive coding boot camp at - Coding Dojo (Jul 2016 – Oct 2016)</h3>
					<div class=>
						<li><p>Completed a 14 week intensive coding boot camp for web development</p></li>
						<li><p>Achieved proficiency in building fully integrated web sites using three different technologies:</p>
							<ul>
								<li><p>Python – Using Flask and MySQL</p></li>
								<li><p>MEAN – Using MongoDB, Express, Angular and NodeJS</p></li>
								<li><p>Ruby– Using Ruby and rails</p></li>
							</ul>
						</li>
						<li><p>Achieved highest certification that coding dojo awards for each stack.</p></li>
					</ul>
				

				<h3>MBA from Christ University (Apr 2006 – Apr 2008)</h3>
				<p class=>Complete MBA in finance with distinction</p>
			<a id = 'toPageFour' ng-click="gotoAnchor('pageFour')" href=""><img class='logo' src="/static/img/down.png" alt="/static/img/down.png" ></a>
		</div>
		<div class="section" id='pageFour'>
			<a id = 'toPageThreeUp' ng-click="gotoAnchor('pageThree')" href=""><img class='logo' src="/static/img/up.png" alt="/static/img/up.png" ></a>
				<h2>Work Experience</h2>
				<h3>Senior Finance Manager at Taxi for Sure- A tech startup company	(Sep 2014 – Dec 2014)</h3>
				<p>Was in charge of planning budgeting and management reporting. Was also the key person in companies funding program and worked with investment bankers and other parties involved.</p>
				<h3>Senior Analyst at Copal Amba Research – A Moody’s Analytics company	(Jun 2008 – Aug 2014)</h3>
				<p>Worked as an equity analyst. Worked extensively on building fully integrated financial models with forecasts. Also performed various ad hock analysis for the clients and explored thematic ideas.</p>
				<p>Was able to successfully replace my predecessors who had decades of experience between them despite being a fresher.</p>
				<p>Was promoted twice in the span of 6 years</p>

		</div>
	</div>
