	<div id="animation">
		<div id="big">
				<div id="basket" class='category'>
					<div id="webfund"></div>
					<div id="pythonpic"></div>
					<div id="rorpic"></div>
					<div id="meanpic"></div>
			</div>
			<div id="dialogue">
				<div id="hello">
					<h2>Greetings Traveller</h2>
					<p>Use arrow keys or mouse scroll to move and interact with the environment</p>
					<p>Skill Tree is displayed on top left and all Skills are displayed at the bottom of the screen</p>
				</div>
				<div id="htmlmessage">
					<h2>Web fundamentals</h2>
					<p>Sound konwledge of HTML, CSS and JavaScript. Familar with use of Bash and github.</p>					
				</div>
				<div id="pythonmessage">
					<h2>Python stack</h2>
					<p>Good understanding of object oriented programming(OOP) in Python and skilled at building fully integrated websites using Flask and mySQL.</p>					
				</div>
				<div id="rubymessage">
					<h2>Ruby on Rails stack</h2>
					<p>Good understanding of OOP in Ruby and skilled at building fully integrated websites using Rails mvc.</p>
				</div>
				<div id="meanmessage">
					<h2>MEAN stack</h2>
					<p>Sound understanding of OOP in JavaScript and skilled at building fully integrated websites using MongoDB, ExpressJS, AngularJS and NodeJS</p>
				</div>

				<div id="edu" class='category'>
					<h2>Education </h2>
					<div id="insidedu">
						<p>14 week intesive coding boot camp at Coding Dojo, Dallas</p>	
						<p>MBA in Finance from Christ College, Banglaore</p>
					</div>
				</div>
				<div id="loc" class='category'>
					<h2>Location </h2>
					<div id="insideloc">
						<p>Currently based in Dallas, willing to relocate</p>
					</div>
				</div>
				<div id="exit">
					<h3>Please visit Curriculum Vitae section for more details</h3>
				</div>
			</div>
			<div id="markers">
				<div id="empty"></div>
				<img id ='html' src='/static/img/html.png' alt="/static/img/html.png" class="cvinactive" title="Web Funcamentals">
				<div class="empty"></div>
				<img id ='pyt' src='/static/img/python2.png' alt="/static/img/python2.png" class="cvinactive" title="Python Stack">
				<div class="empty" ></div>
				<img id ='r' src='/static/img/ror.png' alt="/static/img/ror.jpg" class="cvinactive" title="Ruby on Rails Stack">
				<div class="empty" ></div>
				<img id ='m' src='/static/img/mean.png' alt="/static/img/mean.png" class="cvinactive" title="MEAN Stack">
				<div class="empty" ></div>
				<img id='education' class='cvinactive' src='/static/img/education.png' alt="/static/img/education.png" >
				<div class="empty" ></div>
				<img id='location' class='cvinactive' src='/static/img/location.png' alt="/static/img/location.png">
			</div>
	
			<div id="walker"></div>

			<div id="allskills">
					<!--<h1 class="hide">All Skills </h1>-->
						<div class="img"><img class='hide wf' src='/static/img/html.png' alt="/static/img/html.png" title="HTML"></div>
						<div class="img"><img class='hide wf' src='/static/img/css.png' alt="/static/img/css.png" title="CSS"></div>
						<div class="img"><img class='hide wf' src='/static/img/js.png' alt="/static/img/js.png" title="JavaScript"></div>
						<div class="img"><img class='hide py' src='/static/img/python2.png' alt="/static/img/python2.png" title="Python"></div>
						<div class="img" ><img class='hide py' src='/static/img/flask.jpg' alt="/static/img/flask.jpg" title="Flask"></div>
						<div class="img"><img class='hide py' src='/static/img/sql.png' alt="/static/img/sql.png" title="MySQL"></div>
						<div class="img"><img class='hide rr' src='/static/img/ruby.png' alt="/static/img/ruby.png" title="Ruby"></div>
						<div class="img"><img class='hide ms' src='/static/img/mongo.png' alt="/static/img/mongo.png" title="MongoDB"></div>
						<div class="img"><img class='hide ms' src='/static/img/angular.png' alt="/static/img/angular.png" title="AngularJS"></div>
						<div class="img"><img class='hide ms' src='/static/img/node.png' alt="/static/img/node.png" title="NodeJS"></div>
						<div class="img"><img class='hide o' src='/static/img/github.png' alt="/static/img/github.png" title="github"></div>
						<div class="img"><img class='hide o' src='/static/img/linux.png' alt="/static/img/linux.png" title="Linux"></div>
				</div>

		</div>


	</div>


<script  type="text/javascript" src='static/JS/walker.js'></script>
