
<script type="text/javascript" src='/static/js/mean.js'></script>
<div id="wrap">

<div id="projectsection">
	<div id="surveys" class='projects'>
		<h2>
			<a target="_blank" href="http://surveys.harditsingh.net/">Surveys</a>
			<a href=""><img class='logo' src="/static/img/i.png" alt="/static/img/i.png" id="surveyClick"></a>
			<a target="_blank" href="https://github.com/codedeshi/Surveys">	
			<img class='logo' src="/static/img/git.png" alt="/static/img/git.png" ></a>
		</h2>
		
		<div id="surveyInfo" class='info'>
			<a href="" id='surveyExit' class='x'>X</a>
			<h2>Surveys</h2>
			<ul>
				<li>AngularJS</li>
				<li>Angular-Routes</li>
				<li>Angular-Cookies</li>
				<li>ExpressJS</li>
				<li>NodeJS</li>
				<li>MongoDB</li>
			</ul>
			<p>A fully integrated website created using MEAN. User can register/login and create survey questions, view survey questions created by others, and vote for any of the options provided. User can perform all CRUD (Create, Retrieve, Update and Delete) operations on any survey created by them. The votes are updated in real time and users, survey questions, and votes are all saved in the database.</p>
		</div>
	</div><!--
--><div id="bucketlist" class='projects'>
		<h2>
			<a target="_blank" href="http://bucketlist.harditsingh.net/">Bucket list</a>

			<a href=""><img class='logo' src="/static/img/i.png" alt="/static/img/i.png" id="bucketClick"></a>
			<a target="_blank" href="https://github.com/codedeshi/bucketList"><img class='logo' src="/static/img/git.png" alt="/static/img/git.png" ></a>
		</h2>

		<div id="bucketInfo" class='info'>
			<a href="" id='bucketExit'class='x' >X</a>
			<h2>Bucket List</h2>
			<ul>
				<li>AngularJS</li>
				<li>Angular-Routes</li>
				<li>Angular-Cookies</li>
				<li>ExpressJS</li>
				<li>NodeJS</li>
				<li>MongoDB</li>
			</ul>
			<p>This webpage allows a user to log in and create a bucket list of activities they would like to do. They can also tag other users and the item gets added to their bucket list too. User profile displays bucket list items in two categories, done and pending. Status of each bucket list item is stored in the database. User can update the status of any bucket list item by clicking on a check box next to the item. User can also visit other users profile and check their bucket lists however cannot update them.</p>
		</div>
	</div><!--
--><div id="da" class='projects'>
		
		<h2>
			<a target="_blank" href="http://docapp.harditsingh.net/">Doctors Appointments</a>
			
			<a href=""><img class='logo' src="/static/img/i.png" alt="/static/img/i.png" id="daClick"></a>
			<a target="_blank" href="https://github.com/codedeshi/doctorsAppointments"><img class='logo' src="/static/img/git.png" alt="/static/img/git.png" ></a>
		</h2>

		<div id="daInfo" class='info'>
			<a href="" id='daExit'class='x' >X</a>
			<h2>Doctors Appointments</h2>
			<ul>
				<li>AngularJS</li>
				<li>Angular-Routes</li>
				<li>Angular-Cookies</li>
				<li>ExpressJS</li>
				<li>NodeJS</li>
				<li>MongoDB</li>
			</ul>
			<p>A simple portal that allows users to log in and schedule appointments. Validation is done before the appointment is created eg only future appointments can be created, complaint field can’t be empty etc. The dashboard shows all appointments and lets only the user who created the appointment delete a particular appointment.</p>
		</div>

	</div><!--
	--><div id="messageboard" class='projects'>
			
		<h2>
			<a target="_blank" href="http://messageboard.harditsingh.net/">Message Board</a>
			
			<a href=""><img class='logo' src="/static/img/i.png" alt="/static/img/i.png" id="mbClick"></a>
			<a target="_blank" href="https://github.com/codedeshi/messageBoard"><img class='logo' src="/static/img/git.png" alt="/static/img/git.png" ></a>
		</h2>

		<div id="mbInfo" class='info'>
			<a href="" id='mbExit'class='x' >X</a>
			<h2>Message Board</h2>
			<ul>
				<li>AngularJS</li>
				<li>Angular-Routes</li>
				<li>Angular-Cookies</li>
				<li>ExpressJS</li>
				<li>NodeJS</li>
				<li>MongoDB</li>
			</ul>
			<p>A simple page demonstrating reddit style message and comments page. Users can post messages to other users and can comment on any message.</p>
		</div>
	</div><!--
	--><div id="chat" class='projects'>
		<h2>
			<a target="_blank" href="http://chatapp.harditsingh.net/">Chatbox</a>
			<a href=""><img class='logo' src="/static/img/i.png" alt="/static/img/i.png" id="chatClick"></a>
			<a target="_blank" href="https://github.com/codedeshi/chatApp"><img class='logo' src="/static/img/git.png" alt="/static/img/git.png" ></a>
		</h2>

		<div id="chatInfo" class='info'>
			<a href="" id='chatExit'class='x' >X</a>
			<h2>Simple Chat</h2>
			<ul>
				<li>ExpressJS</li>
				<li>NodeJS</li>
				<li>Socket-io</li>
				<li>Body-parser</li>
				<li>EJS</li>
			</ul>
			<p>A simple page demonstrating usage of socket-io JS library in form of a chat page. Users can log in and chat in a single group.  </p>
		</div>
	</div>
</div>
</div>
