<!--<div id="top">
	<h1>Python</h1>
</div>-->

<div id="wrap">
	<!--<h1>Bubble Sort</h1>

<div id="code">	
	 <gist id="dbaa1e393a4686f9cc05ba8b149534e3"></gist>
</div>-->

	<div id="projectsection">
		<div id="wishlist" class='projects'>
			<h2>Wishlist
				<a href=""><img class='logo' src="/static/img/i.png" alt="/static/img/i.png" id="wlClick"></a>
				<a target="_blank" href="https://github.com/codedeshi/wishlist"><img class='logo' src="/static/img/git.png" alt="/static/img/git.png" ></a>			
			</h2>

			<a href=""><img  src="/static/img/wishlist.png" alt="/static/img/wishlist.png"></a>
			
			<div id="wlInfo" class='info'>
				<a href="" id='wlExit' class='x'>X</a>
				<h2>Surveys</h2>
				<ul>
					<li>FLask</li>
					<li>MySQL</li>
					<li>Advance join queries and ERD</li>
					<li>User registration/login with validations</li>
				</ul>
				<p>Simple webpage built using Flask and MySQL. User can register/log and create items that are directly added to their wish list. User can also see items created by others and who all have added that item to their list and can also add it their own wish list by clicking a link. If the user has an item created by someone else they can remove it from their list but if they have created the item they can delete the item completely.</p>
			</div>
		</div>

		<div id="pokes" class='projects'>
			<h2>Pokes
				<a href=""><img class='logo' src="/static/img/i.png" alt="/static/img/i.png" id="pokesClick"></a>
				<a target="_blank" href="https://github.com/codedeshi/pokes"><img class='logo' src="/static/img/git.png" alt="/static/img/git.png" ></a>			
			</h2>

			<a href=""><img  src="/static/img/pokes.png" alt="/static/img/wishlist.png"></a>
			
			<div id="pokesInfo" class='info'>
				<a href="" id='pokesExit' class='x'>X</a>
				<h2>Pokes</h2>
				<ul>
					<li>FLask</li>
					<li>MySQL</li>
					<li>Advance join queries and many to many relation ERD</li>
					<li>User registration/login with validations</li>
				</ul>
				<p>Simple webpage built using Flask and MySQL demonstrating use of many-to-many relations in the data base. Built and deployed from wireframe to actual page within 3.5 hrs. User can log in and see a list of other users. A user can poke other user using a poke button and the number of times the user has been poked is updated in real time. The user page also displays how many times a user has been poked and who were the users poked.</p>
			</div>
		</div>
		<div id="gold" class='projects'>
			<h2>Ninja Gold
				<a href=""><img class='logo' src="/static/img/i.png" alt="/static/img/i.png" id="goldClick"></a>
				<a target="_blank" href="https://github.com/codedeshi/goldNinja"><img class='logo' src="/static/img/git.png" alt="/static/img/git.png" ></a>			
			</h2>

			<a href=""><img  src="/static/img/gold.png" alt="/static/img/wishlist.png"></a>
			
			<div id="goldInfo" class='info'>
				<a href="" id='goldExit' class='x'>X</a>
				<h2>Ninja Gold</h2>
				<ul>
					<li>FLask</li>
					<li>Session</li>
				</ul>
				<p>A page demonstrating use of session and Flask. It involving accruing gold and risking it all. As a ninja, you are able to farm, mine, rest, and gamble a little to build up a hefty stash. A log is kept of all actions and is updated automatically with game play.</p>			
			</div>
		</div>


		<div id="productPython" class='projects'>
			<h2>Product Management Page
				<a href=""><img class='logo' src="/static/img/i.png" alt="/static/img/i.png" id="ppClick"></a>
				<a target="_blank" href="https://github.com/codedeshi/productsPython"><img class='logo' src="/static/img/git.png" alt="/static/img/git.png" ></a>			
			</h2>

			<a href=""><img  src="/static/img/productPython.png" alt="/static/img/productPython.png"></a>
			
			<div id="ppInfo" class='info'>
				<a href="" id='ppExit' class='x'>X</a>
				<h2>Product Management page</h2>
					<ul>					
						<li>FLask</li>
						<li>MySQL</li>
					</ul>
				<p>A page demonstrating semi-restful routes in pytho. This page lets the user perform CRUD operations on the products table.</p>
			</div>
		</div>
	</div>
</div>
 





<script type="text/javascript">
	$(function() {
		$('#wlClick').click(function(){
			$('#wlInfo').show();
		});
		$('#wlExit').click(function(){
			$("#wlInfo").hide();
		});
		$('#pokesClick').click(function(){
			$('#pokesInfo').show();
		});
		$('#pokesExit').click(function(){
			$("#pokesInfo").hide();
		});
		$('#goldClick').click(function(){
			$('#goldInfo').show();
		});
		$('#goldExit').click(function(){
			$("#goldInfo").hide();
		});
		$('#ppClick').click(function(){
			$('#ppInfo').show();
		});
		$('#ppExit').click(function(){
			$("#ppInfo").hide();
		});


	});
</script>

