* {
	font-family: 'Nothing You Could Do', cursive, Courier,  sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 4px 4px 10px #000000;
}


html,body {
	height: 100vh;
}

.pythonPage {
	/*background:url("/static/img/road.jpg");*/
		background: black; 
	
}	
.icvPage {
	background: #4F4982;
}	
.rubyPage{
	/*background:url("/static/img/sky.jpg");*/
		background: black; 
}
.meanPage{
	/*background:url("/static/img/snow2.jpg");*/
		background: black; 
}
.cvPage{
	background:url("/static/img/sunset.jpg");
}
.contactPage{
	background:url("/static/img/sky.jpg");
	/*background: black; */
}
.mainPage{
	background:url("/static/img/drop2.jpg");
}
#container{
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 100% 100%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	height: 100%;
}

#left {
	width: 20vw;
	height: 100%;
	font-size: 1.25vw;	
	overflow: hidden;
}

/*#opacity  {
	background-color: black;
	opacity: .8;
	position: absolute;
	top: 0;
	left: 0;
	width: 19%;
	min-height: 100%;
}*/

.list > li {	
	margin: 1.5vw;
	list-style-position: inside;

}
li {
	list-style: none; 
}
#nav img {
	width: 32px;
	height: 32px;
}

#icv:hover *,
#cv:hover *, 
#python:hover *, 
#mean:hover *, 
#ruby:hover *, 
#contact:hover * {
	opacity: 1;
	-webkit-filter: none;
	        filter: none;	
	font-size: 1.25em;
}

.inactive {
	opacity: .5;
	/*-webkit-filter: grayscale(100%);
	        filter: grayscale(100%); */
}
.active {
	-webkit-filter: none;
	        filter: none;
}

.activeLi a {
	color: mediumaquamarine;
	font-weight: bold;
}

li a, span  {
	text-decoration: none;
	top: -10px;
	position: relative;
	color: whitesmoke;
}

.logo {
	width: 3vw;
	height: 3vw;
}

#profileImange	{
	margin:  10px;
	width: 90%;
}

#right {
	width: 80vw;
	height: 100vh;
	font-size: 1.25vw;
	overflow: hidden;
	position: absolute;
	left: 20vw;
	top: 0;
	/*box-sizing: border-box;*/
}

#wrap, #fullpage {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	color: whitesmoke;
}


#wrap h1, #wrap h2, #wrap h3,
#fullpage h1, #fullpage h2, #fullpage h3
  {
	color: mediumspringgreen;
}
 #wrap h2 {
	 margin: 20px 0;
	 text-align: left;
 }

 #fullpage::-webkit-scrollbar-track,
 .info::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	opacity: .1;
}

#fullpage::-webkit-scrollbar,
.info::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
	opacity: .1;
}

#fullpage::-webkit-scrollbar-thumb
.info::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.section {
	width: 50vw;
	height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	padding-top: 15vh;
	
	
}

#pageOne {
	padding-top: 35vh;
}


#toPageTwo{
	position: absolute;
	left: 50%;	
	bottom: 2vh;
}

#toPageOne, #toPageTwoUp, #toPageThreeUp{
	position: absolute;
	top: 5vh;
	left: 50%;
}

#toPageThree{
	position: absolute;
	left: 50%;
	bottom: 2vh;
}

#toPageFour {
	position: absolute;
	left: 50%;
	bottom: 2vh;
}

#skills {
	text-align: center;
}

.mains{
	text-align: center;
	display:inline-block;
	vertical-align: top;
	width: 50%;
	margin: 10px auto;
	height: 250px;
	border: 1px solid rgba(0,0,0,0.3);
	box-sizing: border-box;
}
.mains h3 {
	width: 100%;
	background: black;
	opacity: .75;
	padding: 5px ;
	box-sizing: border-box;
}
.mains ul, #skills, #content {
	display:inline-block;
	z-index: 1;
}

#right p {
	margin: 20px 10px;
	font-weight: bold;
}

.dark:hover {
	background: black;
	opacity: .75;
	font-size: 1.25em;
}

#dbaa1e393a4686f9cc05ba8b149534e3{
	width: 95%;
}

#animation {
	margin-top: 10px;
	width: 99%;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;

}

#big {
	width: 800vh;
	height: 100%;
	background: url('/static/img/forest.jpg');
	background-size: auto 100%;
}


#walker {
	background: url('/static/img/panda.png') 0, 0;
	width:250px;
	height:350px;
	top: 43vh;
	left: 35vw;
	position:relative;
	transform: scale(.8);
}

#markers {
	position: relative;
	width: 100%;
	/*height: 75px;*/
	/*top: 300px;*/
	top: 30vh;
}

#empty	{
	width: 1300px;
	height: 100%;
	display: inline-block;
}
.empty {
	width: 400px;
	height: 100%;
	display: inline-block;
}

#basket	{
	display: flex;
	position:absolute;
	top: 10px;
	/*left: 1225px;*/
	right: 20px;
	border: 5px solid mediumspringgreen;
	border-radius: 5px
}

#basket div{
	max-width: 75px;
	max-height: 75px;
	width: 4.5vw;
	height: 4.5vw;
	border: 1px solid mediumspringgreen;
}

.cvinactive {
	height: 4vw;
	width: 4vw;
}

.cvactive {
	display: block;
	-webkit-filter: none;
	        filter: none;
	height: 4vw;
	width: 4vw;
	max-width: 64px;
	max-height: 64px;
	margin: .125vw;
}

#dialogue {
	position:absolute;
	top: 20px;
	left: 10px;
	color: white;
	border: 5px solid mediumspringgreen;
	border-radius: 5px;
	background: transparent;
	height:25vh;
	width: 30vw;
	opacity: .8;
	padding: 10px;

}




#allskills {
	position:absolute;
	color: white;
	bottom: 2.5vh;
	right:7.5vw;
	border: 5px solid mediumspringgreen;
	border-radius: 5px;
	display: flex;
}

.img {
	border: 1px solid mediumspringgreen;
	width: 4.5vw;
	height: 4.5vw;
	max-width: 75px;
	max-height: 75px;
	display: inline-block;
}


#allskills img {
	margin: .125vw;
	width: 4vw;
	height: 4vw;
	max-width: 64px;
	max-height: 64px;

}

.category {
	color: white;
	display: block;
	margin: 10px;
}


.category * {
	display: inline-block;
	vertical-align: middle;
}

.category h1 {
	width: 300px;
}



#edu , 
#loc, 
#exit, 
.hide, 
#htmlmessage,
#pythonmessage,
#rubymessage,
#meanmessage {
	display: none;
}

.show {
	display: block;
}

#insidedu .show, #insideloc .show{
	display: block;
}

#projectsection {
	width: 90%;
	margin: auto auto;
	/*position: absolute;
	top: 300px;
	left: 400px;*/
}

.projects {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	height: 275px;
	margin: 20px;
}

.projects img {
	/*max-width: 100%;*/
	height: 90%;
	width: 100%;
	border-radius: 10px;	
}
#wrap .projects h2 {
	margin: 10px;
}
.projects .logo {
	width: 32px;
	height: 32px;
	float: right;
	margin-top: 5px;
}

.x {
	float: right;
	border-radius: 10px;
	color: white;
	margin-right: 10px;
}

.info {
	display: none;
	position: absolute;
	top: 200px;
	left: 300px;
	width: 50%;
	height: 500px;
	background: black;
	overflow: scroll;
	overflow-x: hidden;
}

.info li:before{
    content: "• ";
    color: white; /* or whatever color you prefer */
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#contactinfo {
	color: white;
	font-size: 1.5em;
	position: absolute;
	top: 15vw;
	left: 35vh;
}

#contactinfo img {
	width: 64px;
	height: 64px;
	/*margin-top: 20px;*/

}
#contactinfo a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#contactinfo p , #contactinfo img, #contactinfo a {
	display: inline-block;
	vertical-align: middle;

}


